.container{ display: flex;
    background-color: grey;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quadrado_vermelho{ display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 45px;
    height: 45px;
    margin: 5px;
    padding: 5px;
}