p { font-family: Arial, sans-serif; font-size: 14px; }
header { 
        background-color: rgb(90, 149, 226);
        border: 10px solid lightblue;
        padding: 5px;
        margin: 10px;
        color: aliceblue;
        background-clip: content-box;
}
nav { background-color: rgb(255, 136, 0);
      border: 5px solid rgb(78, 131, 167);
      padding: 5px;
      margin: 10px;
      background-clip: content-box;
}
main {background-color: rgb(230, 237, 250);
      border: 10px solid rgb(153, 177, 214);
      padding: 20px;
      margin: 20px;
      background-clip: content-box;
}
section { background-color: rgb(255, 220, 64);
          border: 8px solid rgb(153, 177, 214);
          padding: 15px;
          margin: 10px;
          background-clip: content-box;
}
article {background-color: rgb(42, 190, 121);
         border: 3px dotted rgb(22, 80, 22);
         padding: 10px;
         margin: 10px;
         color: black;
         background-clip: content-box;
}
aside {background-color: rgb(174, 111, 233);
        border: 8px solid rgb(204, 195, 195);
         background-clip: content-box;
        padding: 5px;
        margin: 10px;
        background-clip: content-box;
        color: aliceblue;
}
footer { background-color: rgb(32, 48, 65); 
        border: 8px solid rgb(153, 177, 214);
        background-clip: content-box;
        padding: 30px;
        margin: 10px;
        background-clip: content-box;
        color: aliceblue;
         
}
